<a href="https://colab.research.google.com/github/Akshayextreme/seez_predict_car_price/blob/main/chat_with_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install llama-index

In [2]:
import os
os.environ['OPENAI_API_KEY'] = ""

In [3]:
import logging
import sys
from IPython.display import Markdown, display

import pandas as pd
from llama_index.core.query_engine import PandasQueryEngine
from llama_index.core import PromptTemplate


logging.basicConfig(stream=sys.stdout, level=logging.INFO)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

[nltk_data] Downloading package stopwords to
[nltk_data]     /usr/local/lib/python3.10/dist-
[nltk_data]     packages/llama_index/core/_static/nltk_cache...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     /usr/local/lib/python3.10/dist-
[nltk_data]     packages/llama_index/core/_static/nltk_cache...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [4]:
import pandas as pd
from llama_index.llms.openai import OpenAI

In [7]:
df = pd.read_parquet('/content/car_data_za.parquet')

In [8]:
df

,make_id,model_id,submodel_id,price,mileage,country_code,year,currency,updated_at
0,5,41.0,NaN,179000,93000,ZA,2012,ZAR,2020-02-16 22:50:05.555076+00
1,8,75.0,NaN,409900,39000,ZA,2018,ZAR,2021-01-31 03:07:25.513245+00
2,86,912.0,NaN,20000,800,ZA,1988,ZAR,2019-09-08 21:50:05.766048+00
3,8,75.0,164.0,209000,89000,ZA,2015,ZAR,2021-02-28 22:50:17.57505+00
4,87,954.0,NaN,70000,120000,ZA,2004,ZAR,2019-11-17 22:50:10.245932+00
...,...,...,...,...,...,...,...,...,...
460901,83,881.0,NaN,319990,25000,ZA,2019,ZAR,2021-05-06 06:07:43.670507+00
460902,87,954.0,NaN,317117,1,ZA,2021,ZAR,2021-03-18 22:50:21.601239+00
460903,86,NaN,NaN,164995,22500,ZA,2019,ZAR,2020-12-15 22:50:24.012797+00
460904,49,1050.0,NaN,3299995,600,ZA,2019,ZAR,2019-10-16 21:50:05.318881+00
460905,75,803.0,NaN,38000,200000,ZA,2004,ZAR,2020-11-26 12:23:01.78758+00

In [23]:
llm = OpenAI(model="gpt-3.5-turbo", temperature=0.0)

## Text-to-PandasQuery Chain

In [ ]:
query_engine = PandasQueryEngine(df=df, verbose=True, llm=llm, synthesize_response=True)

In [ ]:
prompts = query_engine.get_prompts()
print(prompts["pandas_prompt"].template)

You are working with a pandas dataframe in Python.
The name of the dataframe is `df`.
This is the result of `print(df.head())`:
{df_str}

Follow these instructions:
{instruction_str}
Query: {query_str}

Expression:

In [ ]:
response = query_engine.query(
    "What is the average price for each make_id?",
)

> Pandas Instructions:
```
df.groupby('make_id')['price'].mean()
```
> Pandas Output: make_id
1     2.761264e+05
2     3.542357e+05
3     1.715714e+05
4     1.216703e+06
5     2.626121e+05
          ...
86    2.351408e+05
87    1.835331e+06
88    2.755227e+05
90    3.898000e+04
92    9.989068e+04
Name: price, Length: 71, dtype: float64

In [ ]:
print(str(response))

The average price for each make_id is as follows:
- make_id 1: $276,126.40
- make_id 2: $354,235.70
- make_id 3: $171,571.40
- make_id 4: $1,216,703.00
- make_id 5: $262,612.10
- ...
- make_id 86: $235,140.80
- make_id 87: $1,835,331.00
- make_id 88: $275,522.70
- make_id 90: $38,980.00
- make_id 92: $99,890.68

In [ ]:
response = query_engine.query(
    "which is the most expensive combination of make and model?",
)

> Pandas Instructions:
```
df.loc[df['price'].idxmax(), ['make_id', 'model_id']]
```
> Pandas Output: make_id        87
model_id    947.0
Name: 171760, dtype: object

In [ ]:
response = query_engine.query(
    "count the rows per currency",
)

> Pandas Instructions:
```
df['currency'].value_counts()
```
> Pandas Output: ZAR    460906
Name: currency, dtype: int64

In [ ]:
response = query_engine.query(
    "which is the most expensive car for each unique combination of make and model?",
)

> Pandas Instructions:
```
df.groupby(['make_id', 'model_id'])['price'].max()
```
> Pandas Output: make_id  model_id
1        1.0          439000
         2.0          329900
         3.0          425000
3        9.0          129000
         10.0          65000
                      ...
88       980.0        335000
         981.0       1515694
92       996.0        179950
         997.0         99900
         998.0        309950
Name: price, Length: 630, dtype: int64

## Text-to-SQL Chain

In [10]:
df.shape

(460906, 9)

In [16]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///car.db")
df.to_sql("cars", engine, index=False)

460906

In [17]:
from llama_index.core import SQLDatabase

In [18]:
sql_database = SQLDatabase(engine)

In [19]:
sql_database.get_usable_table_names()

['cars', 'df']

In [22]:
from sqlalchemy import text

with engine.connect() as con:
    rows = con.execute(text("SELECT COUNT(*) from cars"))
    for row in rows:
        print(row)

(460906,)

In [24]:
from llama_index.core.query_engine import NLSQLTableQueryEngine

query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database, tables=["cars"], llm=llm
)
query_str = "What is the average price for each make_id?"
response = query_engine.query(query_str)

In [28]:
display(response.response)

'The average price for each make_id varies significantly, with the highest average price being $3,672,659.90 for make_id 59 and the lowest average price being $38,980.00 for make_id 90. The average prices for other make_ids fall within this range, with some makes having higher average prices than others.'

In [26]:
response.metadata

{'136f7315-40a4-4119-8921-3dea2c2ad9b2': {},
 'sql_query': 'SELECT make_id, AVG(price) AS avg_price\nFROM cars\nGROUP BY make_id\nORDER BY avg_price DESC;',
 'result': [(59, 3672659.9),
  (48, 3428572.6222222224),
  (24, 3357483.0727272728),
  (76, 3135854.909090909),
  (57, 2347158.3333333335),
  (29, 2099000.0),
  (87, 1835331.4796107383),
  (7, 1827745.16),
  (4, 1216702.6376811594),
  (55, 1023179.7722772277),
  (67, 749995.0),
  (73, 722428.198956781),
  (42, 565513.1554959785),
  (49, 529365.1839009288),
  (25, 377554.6458152331),
  (50, 368632.77734067664),
  (60, 356488.6945843597),
  (2, 354235.71428571426),
  (38, 316211.1),
  (8, 295978.72636010364),
  (22, 291988.4734513274),
  (41, 284343.6024096386),
  (1, 276126.4054054054),
  (88, 275522.70165157167),
  (5, 262612.06535214593),
  (36, 262019.84615384616),
  (34, 254170.57),
  (43, 240950.8624667258),
  (86, 235140.80908989266),
  (40, 233118.2712403453),
  (27, 230452.809576178),
  (80, 229900.0),
  (56, 217800.0),
  (82, 211451.2186468647),
  (52, 208999.95),
  (64, 198540.1198811797),
  (63, 181723.28872326636),
  (58, 173947.30258430872),
  (3, 171571.36803519062),
  (44, 168969.84272438538),
  (54, 165428.24858757062),
  (66, 165060.61904412575),
  (37, 157354.47353104665),
  (83, 150969.957187373),
  (75, 144688.37596207473),
  (6, 139479.23076923078),
  (28, 138835.26),
  (35, 133568.79772674554),
  (65, 129999.0),
  (71, 113245.79540446962),
  (17, 108036.03336422614),
  (68, 105530.20359389039),
  (18, 104780.02173913043),
  (62, 102885.74285714286),
  (92, 99890.67661691543),
  (19, 96716.58090976883),
  (21, 95275.5599755202),
  (78, 90144.9574468085),
  (47, 89710.12121212122),
  (20, 80778.93333333333),
  (81, 76226.75330396475),
  (14, 69577.77777777778),
  (13, 68725.43137254902),
  (15, 65248.69841269841),
  (77, 62808.01587301587),
  (84, 59433.52948328268),
  (9, 54000.0),
  (74, 53245.79518072289),
  (16, 52634.92243186583),
  (30, 43921.46052631579),
  (90, 38980.0)],
 'col_keys': ['make_id', 'avg_price']}

## Text-to-SQL Agent

In [ ]:
!pip install langchain

In [31]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///car.db")
print(db.dialect)
print(db.get_usable_table_names())

sqlite
['cars', 'df']

In [ ]:
!pip install openai langchain-openai

In [34]:
from langchain_openai import ChatOpenAI
llm = ChatOpenAI(model_name="gpt-3.5-turbo", temperature=0, openai_api_key="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")

In [35]:
from langchain_community.agent_toolkits import create_sql_agent

agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [37]:
response = agent_executor.invoke(
    {
        "input": "What is the average price for each make_id?"
    }
)

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


cars, df
Invoking: `sql_db_schema` with `{'table_names': 'cars'}`



CREATE TABLE cars (
	make_id BIGINT,
	model_id FLOAT,
	submodel_id FLOAT,
	price BIGINT,
	mileage BIGINT,
	country_code TEXT,
	year BIGINT,
	currency TEXT,
	updated_at TEXT
)

/*
3 rows from cars table:
make_id	model_id	submodel_id	price	mileage	country_code	year	currency	updated_at
5	41.0	None	179000	93000	ZA	2012	ZAR	2020-02-16 22:50:05.555076+00
8	75.0	None	409900	39000	ZA	2018	ZAR	2021-01-31 03:07:25.513245+00
86	912.0	None	20000	800	ZA	1988	ZAR	2019-09-08 21:50:05.766048+00
*/
Invoking: `sql_db_query` with `SELECT make_id, AVG(price) AS avg_price FROM cars GROUP BY make_id`


[(1, 276126.4054054054), (2, 354235.71428571426), (3, 171571.36803519062), (4, 1216702.6376811594), (5, 262612.06535214593), (6, 139479.23076923078), (7, 1827745.16), (8, 295978.72636010364), (9, 54000.0), (13, 68725.43137254902), (14, 69577.77777777778), (15, 65248.69841269841), (16, 52634.92243186583), (17, 108036.03336422614), (18, 104780.02173913043), (19, 96716.58090976883), (20, 80778.93333333333), (21, 95275.5599755202), (22, 291988.4734513274), (24, 3357483.0727272728), (25, 377554.6458152331), (27, 230452.809576178), (28, 138835.26), (29, 2099000.0), (30, 43921.46052631579), (34, 254170.57), (35, 133568.79772674554), (36, 262019.84615384616), (37, 157354.47353104665), (38, 316211.1), (40, 233118.2712403453), (41, 284343.6024096386), (42, 565513.1554959785), (43, 240950.8624667258), (44, 168969.84272438538), (47, 89710.12121212122), (48, 3428572.6222222224), (49, 529365.1839009288), (50, 368632.77734067664), (52, 208999.95), (54, 165428.24858757062), (55, 1023179.7722772277), (56, 217800.0), (57, 2347158.3333333335), (58, 173947.30258430872), (59, 3672659.9), (60, 356488.6945843597), (62, 102885.74285714286), (63, 181723.28872326636), (64, 198540.1198811797), (65, 129999.0), (66, 165060.61904412575), (67, 749995.0), (68, 105530.20359389039), (71, 113245.79540446962), (73, 722428.198956781), (74, 53245.79518072289), (75, 144688.37596207473), (76, 3135854.909090909), (77, 62808.01587301587), (78, 90144.9574468085), (80, 229900.0), (81, 76226.75330396475), (82, 211451.2186468647), (83, 150969.957187373), (84, 59433.52948328268), (86, 235140.80908989266), (87, 1835331.4796107383), (88, 275522.70165157167), (90, 38980.0), (92, 99890.67661691543)]The average price for each make_id is as follows:
- Make_id 1: 276,126.41
- Make_id 2: 354,235.71
- Make_id 3: 171,571.37
- Make_id 4: 1,216,702.64
- Make_id 5: 262,612.07
- Make_id 6: 139,479.23
- Make_id 7: 1,827,745.16
- Make_id 8: 295,978.73
- Make_id 9: 54,000.00
- Make_id 13: 68,725.43

These are the average prices for the different make_ids in the database.

> Finished chain.

In [42]:
response

{'input': 'What is the average price for each make_id?',
 'output': 'The average price for each make_id is as follows:\n- Make_id 1: 276,126.41\n- Make_id 2: 354,235.71\n- Make_id 3: 171,571.37\n- Make_id 4: 1,216,702.64\n- Make_id 5: 262,612.07\n- Make_id 6: 139,479.23\n- Make_id 7: 1,827,745.16\n- Make_id 8: 295,978.73\n- Make_id 9: 54,000.00\n- Make_id 13: 68,725.43\n\nThese are the average prices for the different make_ids in the database.'}

In [43]:
print(response['output'])

The average price for each make_id is as follows:
- Make_id 1: 276,126.41
- Make_id 2: 354,235.71
- Make_id 3: 171,571.37
- Make_id 4: 1,216,702.64
- Make_id 5: 262,612.07
- Make_id 6: 139,479.23
- Make_id 7: 1,827,745.16
- Make_id 8: 295,978.73
- Make_id 9: 54,000.00
- Make_id 13: 68,725.43

These are the average prices for the different make_ids in the database.